html, body{
  margin:0;
	height: fit-content;
	background: linear-gradient(#A2BFEB 0%, #315B9A 77%);
	position:relative;
  overflow: hidden; /* disables scroll */
}

.home{
  position: absolute;
	font-size:22px;
	width: 200px;
	height:200px;
  top: 40px;
  left: 50px;
  transform: scale(.5);
    animation: floating 2s ease-in-out infinite alternate;

}

@keyframes floating {
  from { transform: translateY(0px); }
  to { transform: translateY(15px); }
}

.speak-bubble{
  background: url('./../assets/svg/speak-bubble.svg') no-repeat;
  height:200px;
  width:200px;
}

.speak-bubble *{
  position: absolute;
}


.home svg{
  height: 100%;
  height:100%;

}

.leg{
	animation:legAnim 4s infinite;
}

@keyframes legAnim{
	from{transform:rotateY(15deg)}
	to{transform:rotateY(-15deg)}
}


.items {
  position: fixed;
  top: 10px;
  width: 100vw;
  display: flex;
  gap: 10px;
  z-index: 100;
  justify-content: center;
}

.items img {
    width: 50px;
    height: 50px;
}
.item {
  width: 70px;
  transition: filter 0.3s ease;
}

.fish {
  position: absolute; /* make sure the element can move */
  animation: swimFish 14s linear infinite;
  
}


@keyframes swimFish {
  0% {
    left: 100%;
    
  }
  100% {
    left: 0;
  }
}


.swimmer {
  position: absolute;
  left: 0;
  top: 0;
	transition:ease all .1s;
}

.carried-trash {
  animation: wiggle 0.6s infinite ease-in-out alternate;
}

.seaweed {
  animation: wiggle 2s infinite ease-in-out alternate;
}
@keyframes wiggle {
  from { transform: rotate(-5deg); }
  to { transform: rotate(5deg); }
}



