html, body{
	height: fit-content;
	background: linear-gradient(#A2BFEB 0%, #315B9A 77%);
	position:relative;
  overflow: hidden; /* disables scroll */
}

.home{
  position: absolute;
	font-size:22px;
	border-radius:50%;
	width:100px;
	height:100px;
  background: limegreen;
  top: 40px;
  left: 50px;
}
.items {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  z-index: 100;
}
.item {
  width: 70px;
  transition: filter 0.3s ease;
}

.fish {
  position: absolute; /* make sure the element can move */
  animation: swimFish 14s linear infinite;
}

@keyframes swimFish {
  0% {
    left: 0;
		
  }
  100% {
    left: 100%;
  }
}


.swimmer {
  position: absolute;
  left: 0;
  top: 0;
	transition:ease all .4s;
}

.carried-trash {
  animation: wiggle 0.6s infinite ease-in-out alternate;
}

.seaweed {
  animation: wiggle 0.6s infinite ease-in-out alternate;
}
@keyframes wiggle {
  from { transform: rotate(-5deg); }
  to { transform: rotate(5deg); }
}

